.about-section{
	background-color: #0a6daf;
	color: white;
}

.about-container {
	display: flex;
    flex-direction: column;
	width: 80%;
	height: auto;
	margin: auto;
	padding: 10% 6% 2%;
}

.om-innom {
	display: flex;
    width: 100%;
    line-height: 30px;
	justify-content: space-between;
	align-items: flex-end;
}

.om-innom-text {
	width: 45%;
}

.om-innom img {
	border-radius: 20px;
}

.ansatte-innom {
	display: flex;
    width: 100%;
	margin: 12% 0 12%;
    line-height: 30px;
	justify-content: space-between;
	align-items: flex-end;
}

.ansatte-innom img {
	border-radius: 20px;
}

.ansatt-innom-text {
	width: 45%;
}

.ansatt-link {
	text-decoration: none;
	color: inherit;
	color: #f6b762;
}

.innom-insta{
	padding: 5% 2% 5%;
    width: 100%;
}

.about-team {
	background-color: rgb(235, 235, 235);
	border-radius: 20px;
	width: 100%;
	height: auto;
	overflow-x: scroll;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 700px) {
	.about-container {
		width: 100%;
		border-width: 0 8px 8px 8px;
	}

	.om-innom {
		flex-direction: column-reverse;
	}
	.om-innom-text {
		width: 100%;
		padding-top: 30px;
	}

	.ansatte-innom {
		flex-direction: column;
	}

	.ansatt-innom-text {
		width: 100%;
		padding-top: 30px;
	}
}