.card {
    width: 30%;
    background-color: black;
}

.card img{
    border-radius: 24px;
}

.card img:hover{
    animation: ease-in-out;
    transition: 0.5s;
    filter: brightness(0.5);
}

.card h2{
    color: white;
    align-self: center;
    position: absolute;
    bottom: 20%;
    font-size: 28px;
    font-size: 2vw;
}


@media screen and (max-width: 800px) {
    .card {
        width: 100%;
        margin: 10px 0 10px;
    } 

    .card h2{
        font-size: 8vw;
    }
}