.navbar{
    background-color: khaki;
    position: sticky;
    top: 0;
    z-index: 60;
    padding: 0;
    height: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 18px;
    animation: ease-in-out;
}

.nav-container ul {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 480px;
    cursor: pointer;
    padding-right: 30px;
    margin-right: 30px;
    justify-content: space-between
}

.nav-container ul li{
	list-style: none;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: rgba(255, 14, 14, 0);
    margin: 5% 0 5% 0;
    padding: 1% 2% 1% 2%;
}

.nav-container ul li:hover {

}

.innom-logo{
    
    width: 120px;
    margin-left: 2%;
    cursor: pointer;
}

.nav-links {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 800px){

    .navbar {
        justify-content: space-between;
    }

    .innom-logo {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 100px;
    }

    .nav-container {
        height: 0;
    } 

    .nav-container ul{
        width: 220px;
        height: 180px;
    }

    .nav-links {
        font-size: 24px;
    }

    .nav-menu {
        flex-direction: column;
        position: absolute;
		background-color: rgba(255, 255, 255, 0.616);
        border-radius: 20px;
        opacity: 0;
		top: 80px;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.4s;
		animation: ease-in-out;
        backdrop-filter: blur(10px);
    }

    .nav-menu.active{
        right: 12px;
        opacity: 1;
    }

    .nav-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 50px;
        font-size: 40px;
        color: #515151;
        cursor: pointer;
    }
}