.about-page-section {
    width: 100vw;
    height: fit-content;
    background-color: blueviolet;
    padding: 200px 100px 200px;
}

.about-page-container {
    
    padding: 60px 40px 40px;
    width: auto;
    height: 1000px;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .about-page-section {
        padding: 120px 20px 100px;
    }

    .about-page-container {
        margin: auto;
        padding: 40px 30px 40px;
    }
}