.EventPage {
    background-color: #73C7A7;
    width: 100%;
    height: auto;
    align-content: center;
    padding: 10% 5% 100px;
}

.EventField {
    margin: auto;
    width: 80%;
    height: auto;
}

.innom-calendar {
    width: 100%;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    .EventPage {
        padding-top: 120px;
    }

}