.AboutPage {
    padding: 30px 40px 10px;
}

.AboutField {
    margin: auto;
    width: 5450px;
    height: fit-content;
    display: flex;
}

.TeamBox {
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin: 40px 20px 40px;
    padding: 20px 20px 20px;
}

.TeamImg {
    width: 460px;
    height: 600px;
    object-fit: cover;
    border-radius: 14px;
}

.TeamInfo {
    margin: 20px 10px 0;
}

@media screen and (max-width: 700px) {

    .AboutPage {
        padding: 20px 20px 10px;
    }

    .AboutField {
        width: 2400px;
    }

    .TeamBox {
        width: 200px;
        height: 320px;
        border-radius: 12px;
        margin: 0 20px 0;
        padding: 10px 10px 10px;
    }

    .TeamImg {
        width: 180px;
        height: 200px;
    }

    .TeamInfo {
        margin: 10px 6px 0;
    }

    .TeamInfo h1 {
        font-size: 20px;
    }
    .TeamInfo h3{
        font-size: 16px;
    }

}